html{
    max-width: none;
    font-size: 18px;
}
body{
    background-color: #344a72;
    color: rgb(111, 98, 98);
    line-height: 1.8;
}
#container{
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
}
.main-div{
    border: 1px black solid;
    background-color: white;
    padding: 15px 25px;
    color: #333;
}
.main-div input{
    width: 95%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}
.main-div p{
    text-align: center;
}
a{
    text-decoration: none;
}
div h1{
    text-align: center;
}
p{
    text-align: center;
}

label{
    display: block;
    color: #666
}
button{
    display: block;
    background-color: #49c1a2;
    color: white;
    border: none;
    text-align: center;
    width: 101%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #37a08e;
}
footer{
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-top: -50px;
}
footer a{
    color: #37a08e;
}
.btn{
    text-align: left;
}